seao-elt-pipeline.json
{"Resources":{"StateMachine3911b9c9":{"Type":"AWS::StepFunctions::StateMachine","Properties":{"Definition":{"Comment":"Daily SEAO ELT pipeline: idempotency check → Lambda extract → Glue crawler (poll) → Athena transform → mark complete.","QueryLanguage":"JSONata","StartAt":"Init","States":{"Init":{"Type":"Pass","Comment":"Derive YYYY-MM-DD from the execution start time. $processDate is available in every downstream state.","Assign":{"processDate":"{% $substring($states.context.Execution.StartTime, 0, 10) %}"},"Next":"ExtractSEAO"},"ExtractSEAO":{"Type":"Task","Comment":"Invoke seao-extract Lambda. Writes one JSON file per contract to S3 raw/dt=YYYY-MM-DD/.","Resource":"arn:aws:states:::lambda:invoke","Arguments":{"FunctionName":"${lambdainvoke_FunctionName_4412c788}","Payload":{"process_date":"{% $processDate %}"}},"Retry":[{"ErrorEquals":["Lambda.ServiceException","Lambda.TooManyRequestsException"],"IntervalSeconds":5,"MaxAttempts":3,"BackoffRate":2}],"Next":"StartCrawler"},"StartCrawler":{"Type":"Task","Comment":"Kick off the Glue crawler. If it's already running, jump straight to the polling loop.","Resource":"arn:aws:states:::aws-sdk:glue:startCrawler","Arguments":{"Name":"seao-raw-crawler"},"Catch":[{"ErrorEquals":["Glue.CrawlerRunningException"],"Next":"WaitForCrawler"}],"Next":"WaitForCrawler"},"WaitForCrawler":{"Type":"Wait","Seconds":30,"Next":"GetCrawlerStatus"},"GetCrawlerStatus":{"Type":"Task","Resource":"arn:aws:states:::aws-sdk:glue:getCrawler","Arguments":{"Name":"seao-raw-crawler"},"Next":"CrawlerDone"},"CrawlerDone":{"Type":"Choice","Comment":"Glue crawlers have no .sync integration; poll every 30s until State = READY.","Choices":[{"Condition":"{% $states.input.Crawler.State = 'READY' %}","Next":"RunTransform"}],"Default":"WaitForCrawler"},"RunTransform":{"Type":"Task","Comment":"Athena INSERT that flattens raw JSON → seao.contracts. .sync waits for the query to finish. The date is injected via JSONata string concat at WHERE dt = '...'.","Resource":"arn:aws:states:::athena:startQueryExecution.sync","Arguments":{"QueryString":"{% \"INSERT INTO seao.contracts SELECT CAST(NULL AS varchar), CAST(contract.avisResumeInformation.id AS varchar), contract.avisResumeInformation.typeAvis.descriptionFr, 'Publié', concat('https://seao.gouv.qc.ca/avis-resultat-recherche/consulter?ItemId=', uuid), contract.avisResumeInformation.titre, contract.avisResumeInformationDO.nomOrganisation, contract.avisResumeInformation.natureContrat.descriptionFr, contract.avisResumeCategorieUnspsc.categorie.descriptionFr, contract.avisResumeDescription.descriptionHtml, array_join(transform(contract.avisResumeCategorieUnspsc.unspsc, u -> u.descriptionFr), '; '), json_format(CAST(contract.avisResumeDocuments.documents AS json)), array_join(transform(contract.avisResumeInformation.regionsLivraison, r -> r.descriptionFr), '; '), array_join(transform(contract.avisResumeInformation.accordMarchesPublics, a -> a.descriptionFr), '; '), contract.avisResumeInformation.territoireVise.descriptionFr, contract.avisResumeInformation.datePublicationUtc, contract.avisResumeInformation.dateLimiteReceptionOffresUtc, contract.avisResumeInformation.dateLimiteReceptionPlaintesUtc, CAST(NULL AS varchar), contract.avisResumeInformation.dateLimiteReceptionOffresUtc, CAST(NULL AS varchar), contract.avisResumeInformation.dureePrevueSansOptions, contract.avisResumeInformation.dureePrevueIncluantOptions, contract.avisResumeInformation.sommaireOptionsRenouvellement, CAST(contract.avisResumeInformation.contratSurDemande AS varchar), CAST(contract.avisResumeInformation.contratSurDemande AS varchar), contract.avisResumeInformation.stveOption.descriptionFr, contract.avisResumeInformation.adresseRecuperation.descriptionLongueFr, contract.avisResumeInformation.adresseOuverture.descriptionLongueFr, CAST(contract.avisResumeInformation.prevoitAdjudicationParLot AS varchar), contract.avisResumeInformation.restrictionSupplementaire, array_join(transform(contract.avisResumeGarantieSoumission.naturesGaranties, g -> g.descriptionFr), '; '), contract.avisResumeGarantieSoumission.valeurGarantieHtml, contract.avisResumeDescription.nomFournisseur, CASE WHEN cardinality(contract.avisResumeInformationDO.contacts) > 0 THEN concat(coalesce(contract.avisResumeInformationDO.contacts[1].prenom, ''), ' ', coalesce(contract.avisResumeInformationDO.contacts[1].nom, '')) ELSE NULL END, CASE WHEN cardinality(contract.avisResumeInformationDO.contacts) > 0 THEN contract.avisResumeInformationDO.contacts[1].courriel ELSE NULL END, CASE WHEN cardinality(contract.avisResumeInformationDO.contacts) > 0 THEN contract.avisResumeInformationDO.contacts[1].telephone ELSE NULL END, dt FROM seao.raw src WHERE src.dt = '\" & $processDate & \"' AND NOT EXISTS (SELECT 1 FROM seao.contracts c WHERE c.numero_reference = CAST(src.contract.avisResumeInformation.id AS varchar))\" %}","WorkGroup":"${athenastartQueryExecution_WorkGroup_00b40dfe}","QueryExecutionContext":{"Database":"seao"},"ResultConfiguration":{"OutputLocation":"${athenastartQueryExecution_ResultConfigurationOutputLocation_8379c7fa}"}},"End":true}}},"DefinitionSubstitutions":{"lambdainvoke_FunctionName_4412c788":"seao-extract","athenastartQueryExecution_WorkGroup_00b40dfe":"primary","athenastartQueryExecution_ResultConfigurationOutputLocation_8379c7fa":"s3://seao-athena-results/queries/"},"RoleArn":{"Fn::GetAtt":["Roleab62588b","Arn"]},"StateMachineName":"StateMachine3911b9c9","StateMachineType":"STANDARD","EncryptionConfiguration":{"Type":"AWS_OWNED_KEY"},"LoggingConfiguration":{"Level":"OFF","IncludeExecutionData":false}}},"Roleab62588b":{"Type":"AWS::IAM::Role","Properties":{"RoleName":"StepFunctions_IAM_ROLE_seao-elt-pipeline941c0fea","AssumeRolePolicyDocument":{"Version":"2012-10-17","Statement":[{"Effect":"Allow","Principal":{"Service":"states.amazonaws.com"},"Action":"sts:AssumeRole"}]},"MaxSessionDuration":3600}},"Policy9e3e6abe":{"Type":"AWS::IAM::RolePolicy","Properties":{"PolicyName":"AthenaStartQueryExecutionManagementScopedAccessPolicy930f8341","RoleName":{"Ref":"Roleab62588b"},"PolicyDocument":{"Version":"2012-10-17","Statement":[{"Effect":"Allow","Action":["athena:startQueryExecution","athena:stopQueryExecution","athena:getQueryExecution","athena:getDataCatalog"],"Resource":["arn:aws:athena:us-east-1:140023402414:workgroup/primary","arn:aws:athena:us-east-1:140023402414:datacatalog/*"]},{"Effect":"Allow","Action":["s3:GetBucketLocation","s3:GetObject","s3:ListBucket","s3:ListBucketMultipartUploads","s3:ListMultipartUploadParts","s3:AbortMultipartUpload","s3:CreateBucket","s3:PutObject"],"Resource":["arn:aws:s3:::*"]},{"Effect":"Allow","Action":["glue:CreateDatabase","glue:GetDatabase","glue:GetDatabases","glue:UpdateDatabase","glue:DeleteDatabase","glue:CreateTable","glue:UpdateTable","glue:GetTable","glue:GetTables","glue:DeleteTable","glue:BatchDeleteTable","glue:BatchCreatePartition","glue:CreatePartition","glue:UpdatePartition","glue:GetPartition","glue:GetPartitions","glue:BatchGetPartition","glue:DeletePartition","glue:BatchDeletePartition"],"Resource":["arn:aws:glue:us-east-1:140023402414:catalog","arn:aws:glue:us-east-1:140023402414:database/*","arn:aws:glue:us-east-1:140023402414:table/*","arn:aws:glue:us-east-1:140023402414:userDefinedFunction/*"]},{"Effect":"Allow","Action":["lakeformation:GetDataAccess"],"Resource":["*"]}]}}},"Policy09d1865c":{"Type":"AWS::IAM::RolePolicy","Properties":{"PolicyName":"seao6db4bd63","RoleName":{"Ref":"Roleab62588b"},"PolicyDocument":{"Version":"2012-10-17","Statement":[{"Effect":"Allow","Action":["athena:GetWorkGroup","athena:GetQueryResults"],"Resource":"*"},{"Effect":"Allow","Action":["glue:GetDatabase","glue:GetDatabases","glue:StartCrawler","glue:GetTable","glue:GetCrawler","glue:GetTables","glue:GetPartition","glue:GetPartitions","glue:CreatePartition","glue:BatchCreatePartition","glue:UpdatePartition","glue:BatchUpdatePartition"],"Resource":"*"},{"Effect":"Allow","Action":["s3:GetObject","s3:ListBucket","s3:PutObject","s3:GetBucketLocation","s3:AbortMultipartUpload"],"Resource":["arn:aws:s3:::seao-raw","arn:aws:s3:::seao-raw/*","arn:aws:s3:::seao-curated","arn:aws:s3:::seao-curated/*","arn:aws:s3:::seao-athena-results","arn:aws:s3:::seao-athena-results/*"]}]}}},"Policy4533d762":{"Type":"AWS::IAM::RolePolicy","Properties":{"PolicyName":"LambdaInvokeScopedAccessPolicy7d43170a","RoleName":{"Ref":"Roleab62588b"},"PolicyDocument":{"Version":"2012-10-17","Statement":[{"Effect":"Allow","Action":["lambda:InvokeFunction"],"Resource":["arn:aws:lambda:us-east-1:140023402414:function:seao-extract:*"]},{"Effect":"Allow","Action":["lambda:InvokeFunction"],"Resource":["arn:aws:lambda:us-east-1:140023402414:function:seao-extract"]}]}}},"Policy877ceac8":{"Type":"AWS::IAM::RolePolicy","Properties":{"PolicyName":"XRayAccessPolicy70f07c1d","RoleName":{"Ref":"Roleab62588b"},"PolicyDocument":{"Version":"2012-10-17","Statement":[{"Effect":"Allow","Action":["xray:PutTraceSegments","xray:PutTelemetryRecords","xray:GetSamplingRules","xray:GetSamplingTargets"],"Resource":["*"]}]}}},"Policyc1ca7bc0":{"Type":"AWS::IAM::RolePolicy","Properties":{"PolicyName":"CloudWatchLogsDeliveryFullAccessPolicyf6bcf975","RoleName":{"Ref":"Roleab62588b"},"PolicyDocument":{"Version":"2012-10-17","Statement":[{"Effect":"Allow","Action":["logs:CreateLogDelivery","logs:GetLogDelivery","logs:UpdateLogDelivery","logs:DeleteLogDelivery","logs:ListLogDeliveries","logs:PutResourcePolicy","logs:DescribeResourcePolicies","logs:DescribeLogGroups"],"Resource":"*"}]}}}}}